<router-outlet> </router-outlet>

<div class="container p-5">

    <div class="row align-items-start">

        <div class="col-3 border" style="height: 600px;">
            <div class="p-3 mb-2 bg-info text-dark mt-1">DashBoard</div>

            <div class="menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a   class="nav-link active" aria-current="page" routerLink="/app">Income</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/expense">Expenses</a>
                    </li>
                  </ul>
            </div>
        </div>

        <div class="col-9 border" style="height: 600px;">
        
        </div>

    </div>


</div>



